### 1.1 sorting Top 10

In [18]:
import pandas as pd
import numpy as np

data = pd.read_csv('boston.csv')
print(data.sort_values(by='MEDV', ascending=True)['MEDV'].head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

### 1.2 Checking Null Values

In [37]:
import pandas as pd

data = pd.read_csv("boston.csv")
data = data[['RM']]
mean = data.mean()
std_mean = data.fillna(value=mean).std()
std_drop = data.dropna().std()
print(abs(std_drop-std_mean))
# help(pd.DataFrame.fillna)

RM    0.010596
dtype: float64

In [38]:
import pandas as pd

data = pd.read_csv("boston.csv")
data_mean = data['RM'].copy()
rm_mean = data_mean.mean()
data_mean.fillna(rm_mean, inplace=True)
data_del = data['RM'].copy()
data_del.dropna(inplace=True)
print(abs(data_mean.std()-data_del.std()))

0.010595546094104624

### 1.3 Checking Outliers

In [50]:
import pandas as pd

data = pd.read_csv("boston.csv")
data_zn = data['ZN'].copy()
mean_zn = data_zn.mean()
std_zn = data_zn.std()
print(data_zn[(data_zn < mean_zn-1.5*std_zn)|(data_zn > mean_zn+1.5*std_zn)].sum())

3462.5

In [51]:
import pandas as pd

data = pd.read_csv("boston.csv")
zn_mean = data['ZN'].mean()
zn_std = data['ZN'].std()
zn_max = zn_mean + (1.5*zn_std)
zn_min = zn_mean - (1.5*zn_std)
zn_max2 = data[data['ZN'] > zn_max]['ZN']
print(sum(zn_max2))

3462.5