### 1.1 sorting Top 10

In [4]:
import pandas as pd
import numpy as np

data = pd.read_csv('boston.csv')
print(data.sort_values(by='MEDV', ascending=True)['MEDV'].head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

### 1.2 Checking Null Values

In [5]:
import pandas as pd

data = pd.read_csv("boston.csv")
data = data[['RM']]
mean = data.mean()
std_mean = data.fillna(value=mean).std()
std_drop = data.dropna().std()
print(abs(std_drop-std_mean))
# help(pd.DataFrame.fillna)

RM    0.010596
dtype: float64

In [6]:
import pandas as pd

data = pd.read_csv("boston.csv")
data_mean = data['RM'].copy()
rm_mean = data_mean.mean()
data_mean.fillna(rm_mean, inplace=True)
data_del = data['RM'].copy()
data_del.dropna(inplace=True)
print(abs(data_mean.std()-data_del.std()))

0.010595546094104624

### 1.3 Checking Outliers

In [7]:
import pandas as pd

data = pd.read_csv("boston.csv")
data_zn = data['ZN'].copy()
mean_zn = data_zn.mean()
std_zn = data_zn.std()
print(data_zn[(data_zn < mean_zn-1.5*std_zn)|(data_zn > mean_zn+1.5*std_zn)].sum())

3462.5

In [8]:
import pandas as pd

data = pd.read_csv("boston.csv")
zn_mean = data['ZN'].mean()
zn_std = data['ZN'].std()
zn_max = zn_mean + (1.5*zn_std)
zn_min = zn_mean - (1.5*zn_std)
zn_max2 = data[data['ZN'] > zn_max]['ZN']
print(sum(zn_max2))

3462.5

### 1.4 Finding IQR (Inter Quantile Range)

In [9]:
import pandas as pd
data = pd.read_csv("boston.csv")
columns = list(data.columns)
columns.remove('CHAS')
columns.remove('RAD')
data = data[columns]
des_25 = data.describe().loc['25%',:]
des_75 = data.describe().loc['75%',:]
print(des_75 - des_25)

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

In [10]:
import pandas as pd
data = pd.read_csv("boston.csv")
data_col12 = data.drop(columns = ['CHAS', 'RAD'])
data_col12_desc = data_col12.describe()
data_col12_desc_T = data_col12_desc.iloc[[4,6]].T
print(data_col12_desc_T['75%']-data_col12_desc_T['25%'])

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

### 1.5 Finding Ranking

In [11]:
import pandas as pd
data = pd.read_csv("boston.csv")
data_sort = data.sort_values(by='MEDV', ascending=False)[['MEDV']]
data_sort_30 = data_sort.iloc[29,:]
for i in range(29):
    data_sort.iloc[i,:] = data_sort_30
mean = data_sort.mean()
median = data_sort.median()
min = data_sort.min()
max = data_sort.max()
print(float(mean), float(median), float(min), float(max))

22.179644268774698 21.2 5.0 41.7

In [12]:
import pandas as pd
data = pd.read_csv("boston.csv")
data_new = data['MEDV'].sort_values(ascending=False)
data_new.iloc[0:28] = data_new.iloc[29]
print(data_new.mean(), data_new.median(), data_new.min(), data_new.max())

22.180830039525684 21.2 5.0 42.3