In [41]:
import pandas as pd
import numpy as np

boston = pd.read_csv('boston.csv')
boston[['MEDV']].sort_values(by='MEDV').head(10)

     MEDV
398   5.0
405   5.0
400   5.6
399   6.3
414   7.0
489   7.0
401   7.2
385   7.2
415   7.2
387   7.4

In [16]:
data = boston[['RM']]
mean = data.mean()
fillstd = data.fillna(mean).std()
dropstd = data.dropna().std()
abs(dropstd-fillstd)

RM    0.010596
dtype: float64

In [35]:
data = boston[['ZN']]
mean = data['ZN'].mean()
std = data['ZN'].std()
max = mean + 1.5*std
min = mean - 1.5*std
res = data[(data['ZN'] > max)|(data['ZN'] < min)].sum()
print(float(res))

3462.5

In [59]:
data = boston.drop(columns = ['CHAS', 'RAD'])
res = pd.DataFrame({'columns':list(data), 'IQR':np.zeros(len(list(data)))})
quan1 = data.describe().loc['25%',:]
quan3 = data.describe().loc['75%',:]
IQR = quan3 - quan1
print(IQR)

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

In [72]:
data = boston.sort_values('MEDV', ascending=False).reset_index(drop=True)
val = data.loc[29,'MEDV']
data.loc[0:28,'MEDV'] = val
print(data['MEDV'].mean(), data['MEDV'].median(), data['MEDV'].min(), data['MEDV'].max())

22.179644268774698 21.2 5.0 41.7

In [105]:
data = boston[boston['TAX'] > boston['TAX'].median()]
data = data[['CHAS', 'RAD']]
res = pd.DataFrame(data.groupby(['CHAS','RAD'])['RAD'].count())
res.columns = ['COUNT']
print(res)

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

In [122]:
data1 = boston.sort_values(by='TAX', ascending=True).reset_index()
data2 = boston.sort_values(by='TAX', ascending=False).reset_index()
data = abs(data1['TAX'] - data2['TAX'])
data.var()

28490.5986459515

In [133]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data = boston[['MEDV']]
res = scaler.fit_transform(data) > 0.5
print(res.sum())

106

In [150]:
from scipy.stats import mode
data = boston
data['AGE'] = round(data['AGE'])
a, b = map(int, mode(data['AGE']))
print(a, b)

100 43

/var/folders/1r/0_18qg1s5b1gwdp4v6z1fs1m0000gn/T/ipykernel_26593/2574523859.py:4: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  a, b = map(int, mode(data['AGE']))

In [161]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data = boston[['DIS']]
d = scaler.fit_transform(data)
d = d[(d > 0.4) & (d < 0.6)]
print(round(d.mean(),2))

0.48

In [205]:
res = 0
data = boston
for col in data:
    res += int(pd.DataFrame(data[col].unique()).count()[0])
res/len(list(data))

199.07142857142858

In [206]:
import pandas as pd
data = pd.read_csv('boston.csv')
data_col = data.columns
sum = 0
for col in data_col:
    sum = sum + int(pd.DataFrame(data[col].unique()).count()[0])
print(sum/data_col.size)
sum

218.0

3052

In [207]:
boston

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.0,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,79.0,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.0,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,46.0,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.0,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.0,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,NaN,77.0,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.0,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,81.0,2.5050,1,273,21.0,396.90,7.88,11.9

In [208]:
dir(sklearn)

NameError: name 'sklearn' is not defined