In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('mtcars.csv')
data.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110,3.90,2.620,16.46,0,manual,4,4
1,Mazda RX4 Wag,21.0,6.0,160.0,110,3.90,2.875,17.02,0,manual,4,4
2,Datsun 710,22.8,4.0,108.0,93,3.85,2.320,18.61,1,manual,4,1
3,Hornet 4 Drive,21.4,6.0,258.0,110,3.08,3.215,0.10,1,auto,3,1
4,Hornet Sportabout,18.7,8.0,360.0,175,3.15,3.440,17.02,0,auto,3,2

mpg : 연비(miles/gallon) 
Unnamed: 0 : 자동차 모델명 
cyl : 엔진의 기통수 (Number of cylinders)
disp : 배기량(Displacement)
wt : 무게(Weight)
qsec : 1/4mile 도달시간 (1/4mile time)
vs : V형 엔진/직렬 엔진 (V engine/Straight engine)
am : 변속기(Transmission)
gear : 전진기어 개수(Number of forward gears)
carb : 기화기 개수(Number of carburetors)

In [3]:
data.shape

(32, 12)

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
data.columns

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [6]:
data.describe() # 모든 수치형 변수들의 기초통계량 구하기

,mpg,cyl,disp,hp,drat,wt,qsec,vs,carb
count,32.000000,30.000000,32.000000,32.000000,32.000000,32.000000,31.000000,32.000000,32.0000
mean,20.090625,7.600000,230.721875,146.687500,3.596563,3.217250,19.866774,0.437500,2.8125
std,6.026948,8.194195,123.938694,68.562868,0.534679,0.978457,15.310469,0.504016,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,0.100000,0.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.785000,0.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.600000,0.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.755000,1.000000,4.0000
max,33.900000,50.000000,472.000000,335.000000,4.930000,5.424000,100.000000,1.000000,8.0000

In [7]:
data.info() # 데이터 요약정보 구하ㅣ

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB

In [8]:
data.corr() # 상관관계 구하기

,mpg,cyl,disp,hp,drat,wt,qsec,vs,carb
mpg,1.000000,-0.460227,-0.847551,-0.776168,0.681172,-0.867659,0.013668,0.664039,-0.550925
cyl,-0.460227,1.000000,0.544876,0.323293,-0.372671,0.533690,-0.012755,-0.323960,0.239980
disp,-0.847551,0.544876,1.000000,0.790949,-0.710214,0.887980,0.181810,-0.710416,0.394977
hp,-0.776168,0.323293,0.790949,1.000000,-0.448759,0.658748,0.010807,-0.723097,0.749812
drat,0.681172,-0.372671,-0.710214,-0.448759,1.000000,-0.712441,-0.120283,0.440278,-0.090790
wt,-0.867659,0.533690,0.887980,0.658748,-0.712441,1.000000,0.093900,-0.554916,0.427606
qsec,0.013668,-0.012755,0.181810,0.010807,-0.120283,0.093900,1.000000,-0.112146,-0.120312
vs,0.664039,-0.323960,-0.710416,-0.723097,0.440278,-0.554916,-0.112146,1.000000,-0.569607
carb,-0.550925,0.239980,0.394977,0.749812,-0.090790,0.427606,-0.120312,-0.569607,1.000000

In [9]:
X = data.drop(columns = 'mpg') # 독립변수 만들기
Y = data['mpg']                # 종속변수 만들기

## 2.2 데이터 전처리
### 불필요한 열 삭제

In [10]:
X.head()

,Unnamed: 0,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,6.0,160.0,110,3.90,2.620,16.46,0,manual,4,4
1,Mazda RX4 Wag,6.0,160.0,110,3.90,2.875,17.02,0,manual,4,4
2,Datsun 710,4.0,108.0,93,3.85,2.320,18.61,1,manual,4,1
3,Hornet 4 Drive,6.0,258.0,110,3.08,3.215,0.10,1,auto,3,1
4,Hornet Sportabout,8.0,360.0,175,3.15,3.440,17.02,0,auto,3,2

In [11]:
Y.head()

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

In [12]:
X = X.iloc[:,1:]

## 결측값 처리하기
### 결측치 여부 확인하기

In [13]:
X.isnull().sum()

cyl     2
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

### 평균값으로 대치하기

In [14]:
X_cyl_mean = X['cyl'].mean()

In [15]:
X['cyl'] = X['cyl'].fillna(X_cyl_mean)

### 중위값으로 대치하기

In [16]:
X_qsec_median = X['qsec'].median()
X['qsec'] = X['qsec'].fillna(X_qsec_median)

### 최빈값 구하는 함수 scipy.stats.mode

In [1]:
from scipy.stats import mode
a = [1,2,3,3,4,5,5,5,5,6,7,]
mode(a)

ModeResult(mode=array([5]), count=array([4]))

## 잘못된 값을 올바르게 바꾸기

In [17]:
X['gear'].unique()

array(['4', '3', '*3', '5', '*5'], dtype=object)

In [18]:
X['gear'] = X['gear'].replace('*3','3').replace('*5','5') # 잘못된 값 바꾸기

In [19]:
X['gear'].unique()

array(['4', '3', '5'], dtype=object)

## 이상값 outlier 처리하기
### 사분범위 활용하기

In [20]:
X_describe = X.describe()
X_describe

,cyl,disp,hp,drat,wt,qsec,vs,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,7.600000,230.721875,146.687500,3.596563,3.217250,19.795938,0.437500,2.8125
std,7.925459,123.938694,68.562868,0.534679,0.978457,15.066831,0.504016,1.6152
min,4.000000,71.100000,52.000000,2.760000,1.513000,0.100000,0.000000,1.0000
25%,4.000000,120.825000,96.500000,3.080000,2.581250,16.827500,0.000000,2.0000
50%,6.000000,196.300000,123.000000,3.695000,3.325000,17.600000,0.000000,2.0000
75%,8.000000,326.000000,180.000000,3.920000,3.610000,18.682500,1.000000,4.0000
max,50.000000,472.000000,335.000000,4.930000,5.424000,100.000000,1.000000,8.0000

In [21]:
X_iqr = X_describe.loc['75%',:]-X_describe.loc['25%',:]
X_max = X_describe.loc['75%'] + 1.5*X_iqr
X_min = X_describe.loc['25%'] - 1.5*X_iqr
X_min

cyl      -2.000000
disp   -186.937500
hp      -28.750000
drat      1.820000
wt        1.038125
qsec     14.045000
vs       -1.500000
carb     -1.000000
dtype: float64

In [22]:
X.max()
X.min()

cyl       4.0
disp     71.1
hp         52
drat     2.76
wt      1.513
qsec      0.1
vs          0
am       auto
gear        3
carb        1
dtype: object

In [23]:
X.loc[X['cyl'] > 14.0]

     cyl   disp   hp  drat    wt   qsec  vs    am gear  carb
14  50.0  472.0  205  2.93  5.25  17.98   0  auto    3     4

In [24]:
X.loc[14,'cyl'] = 14

In [25]:
X.loc[X['hp'] > 305.25]
X.loc[30,'hp'] = 305.25
X.loc[30,'hp']

305.25

In [26]:
X_describe.loc['min']

cyl      4.000
disp    71.100
hp      52.000
drat     2.760
wt       1.513
qsec     0.100
vs       0.000
carb     1.000
Name: min, dtype: float64

### 평균과 표준편차 활용

In [27]:
def outlier(data, column):
    mean = data[column].mean()
    std = data[column].std()
    lowest = mean - 1.5*std
    highest = mean + 1.5*std
    print('최소 경계값:',lowest,' 최대 경계값:', highest)
    outlier_index = data[column][(data[column] < lowest)|(data[column] > highest)].index
    return outlier_index

In [28]:
outlier(X, 'qsec')

최소 경계값: -2.8043094560577657  최대 경계값: 42.39618445605777

Int64Index([24], dtype='int64')

In [29]:
X.loc[24,'qsec'] = 42.4

In [30]:
outlier(X, 'carb')

최소 경계값: 0.3897000335522218  최대 경계값: 5.235299966447778

Int64Index([29, 30], dtype='int64')

In [31]:
X.loc[29,'carb'] = 5.235
X.loc[30,'carb'] = 5.235

## 데이터 스케일링 - 독립변수들의 범위 동일하게 만들기

#### 표준 크기변환(Standard Scaling) - 평균 0 표준편차 1
#### 최소최대 크기변환(Min-Max Scaling) - min 0 max 1
#### 로버스트 크기변환(Robust Scaling ) - 중앙값 0 IQR 1

### 표준 크기변환 : StandardScaler

In [32]:
# sklearn 패키지의 preprocessing 모듈에서 standardScaler 함수 가져오기
from sklearn.preprocessing import StandardScaler

# X 변수에서 qsec 열만 추출한 후, temp 변수에 저장하기
temp = X[['qsec']]

In [33]:
# StandardScaler 함수 호출하여 표준 크기변환 기능을 갖는 scaler라는 객체 만들기
scaler = StandardScaler()

# 표준 크기변환하는 scaler에게 fit_transform 명령으로 temp 변수의 크기변환 요청하기
scaler.fit_transform(temp)

array([[-2.73141413e-01],
       [-1.73554554e-01],
       [ 1.09200992e-01],
       [-3.18250037e+00],
       [-1.73554554e-01],
       [ 3.95513212e-01],
       [-3.83398293e-01],
       [ 3.56389804e-01],
       [ 8.72107467e-01],
       [ 5.40725524e-02],
       [-7.04110215e-02],
       [-1.05977757e-01],
       [-7.04110215e-02],
       [ 7.22449313e-04],
       [-2.83422423e-03],
       [-3.12876126e-02],
       [-1.02421083e-01],
       [ 2.62137955e-01],
       [ 9.31959614e-02],
       [ 3.38606436e-01],
       [ 3.58168140e-01],
       [-2.00229606e-01],
       [-1.23761125e-01],
       [-4.59866774e-01],
       [ 4.33986417e+00],
       [ 1.60772759e-01],
       [-2.30461331e-01],
       [-1.94894596e-01],
       [-6.21695421e-01],
       [-4.43861743e-01],
       [-6.03912053e-01],
       [ 1.07422656e-01]])

In [34]:
# 표준 크기변환을 수행한 결과를 qsec_s_scaler 변수에 저장하기
qsec_s_scaler = pd.DataFrame(scaler.fit_transform(temp))

# qsec_s_scaler 변수의 기초통계량 확인하기
qsec_s_scaler.describe()

                  0
count  3.200000e+01
mean  -6.461845e-16
std    1.016001e+00
min   -3.182500e+00
25%   -2.077875e-01
50%   -7.041102e-02
75%    1.220939e-01
max    4.339864e+00

### 최소-최대 크기변환 : MinMaxScaler

In [35]:
# sklearn 패키지의 preprocessing 모듈에서 MinMaxScaler 함수 가져오기
from sklearn.preprocessing import MinMaxScaler

# X 변수에서 qsec 열만 추출한 후, temp 변수에 저장하기
temp = X[['qsec']]

In [36]:
# MinMaxScaler 함수를 호출하여 최소-최대 크기변환 기능을 갖는 scaler 객체 만들기
scaler = MinMaxScaler()

# 최소최대 크기변환 기능이 있는 scaler에게 temp 변수의 크기변환을 요청하고
# 변환결과는 qsec_m_scaler 변수에 저장하기
qsec_m_scaler = pd.DataFrame(scaler.fit_transform(temp))
qsec_m_scaler.head()

          0
0  0.386761
1  0.400000
2  0.437589
3  0.000000
4  0.400000

In [37]:
# qsec_m_scaler 변수의 기초 통계량 확인하기
qsec_m_scaler.describe()

               0
count  32.000000
mean    0.423072
std     0.135064
min     0.000000
25%     0.395449
50%     0.413712
75%     0.439303
max     1.000000

### 로버스트 크기변환 : RobustScaler

In [38]:
# sklearn 패키지의 preproessing 모듈의 RobustScaler 함수를 가져오기
from sklearn.preprocessing import RobustScaler

# X 변수에서 qsec 열만 추출한 후, temp 변수에 저장하기
temp = X[['qsec']]

In [39]:
# RobustScaler 함수를 호출하여 로버스트 크기변환 기능을 갖는 scaler 객체 만들기
scaler = RobustScaler()

# 로버스트 크기변환 기능이 있는 scaler에게 temp 변수의 크기변환을 요청하고
# 변환 결과는 qsec_r_scaler 변수에 저장하기
qsec_r_scaler = pd.DataFrame(scaler.fit_transform(temp))

# 로버스트 크기변환 결과인 qsec_r_scaler 변수 확인하기 
qsec_r_scaler.head()

          0
0 -0.614555
1 -0.312668
2  0.544474
3 -9.433962
4 -0.312668

In [40]:
# qsec_r_scaler 변수의 기초통계량 확인하기
qsec_r_scaler.describe()

               0
count  32.000000
mean    0.213443
std     3.079897
min    -9.433962
25%    -0.416442
50%     0.000000
75%     0.583558
max    13.369272

## 데이터 타입 변경하기

In [41]:
# X 변수의 요약정보를 확인하기
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cyl     32 non-null     float64
 1   disp    32 non-null     float64
 2   hp      32 non-null     float64
 3   drat    32 non-null     float64
 4   wt      32 non-null     float64
 5   qsec    32 non-null     float64
 6   vs      32 non-null     int64
 7   am      32 non-null     object
 8   gear    32 non-null     object
 9   carb    32 non-null     float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.6+ KB

In [42]:
# gear 열의 데이터 타입을 int64로 변경한 후, 다시 gear 열에 저장하기
X['gear'] = X['gear'].astype('int64')

# gear 열의 데이터 타입(dtype) 확인하기
X['gear'].dtype

dtype('int64')

## 범주형을 수치형으로 변경하기: 인코딩 Encoding

### 한글이나 영문 등의 문자열 데이터를 컴퓨터가 이해할 수 있는 숫자형으로 변경하는 작업
#### - 원핫 인코딩(One-Hot Encoding) - 범주형 데이터를 개별 열로 만들고, 각 열에 해당하는 값들은 1, 해당하지 않는 값들은 0으로 설정
#### - 라벨 인코딩(Label Encoding) - 범주형 데이터에 일련번호를 부여하여 수치형 데이터로 변경

### 원핫 인코딩: One-Hot Encoding

In [43]:
# X 변수의 상위 5개 행 확인하기
print(X.head())

# am 열에서 중복 제거한 값들을 확인하기
X['am'].unique()

   cyl   disp     hp  drat     wt   qsec  vs      am  gear  carb
0  6.0  160.0  110.0  3.90  2.620  16.46   0  manual     4   4.0
1  6.0  160.0  110.0  3.90  2.875  17.02   0  manual     4   4.0
2  4.0  108.0   93.0  3.85  2.320  18.61   1  manual     4   1.0
3  6.0  258.0  110.0  3.08  3.215   0.10   1    auto     3   1.0
4  8.0  360.0  175.0  3.15  3.440  17.02   0    auto     3   2.0

array(['manual', 'auto'], dtype=object)

In [44]:
# X 변수의 am 열에 대해서 원핫 인코딩 수행하기
pd.get_dummies(X['am']).head()

   auto  manual
0     0       1
1     0       1
2     0       1
3     1       0
4     1       0

In [45]:
# X 변수의 am 열에 원핫 인코딩 수행하기. 단, 생성된 첫 번째 열은 삭제하기
pd.get_dummies(X['am'], drop_first=True).head()

   manual
0       1
1       1
2       1
3       0
4       0

In [46]:
# X 변수의 데이터 타입 확인하기
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cyl     32 non-null     float64
 1   disp    32 non-null     float64
 2   hp      32 non-null     float64
 3   drat    32 non-null     float64
 4   wt      32 non-null     float64
 5   qsec    32 non-null     float64
 6   vs      32 non-null     int64
 7   am      32 non-null     object
 8   gear    32 non-null     int64
 9   carb    32 non-null     float64
dtypes: float64(7), int64(2), object(1)
memory usage: 2.6+ KB

In [47]:
# X 변수의 전체 열을 대상으로 원핫 인코딩 수행하기
pd.get_dummies(X, drop_first=True).head()

   cyl   disp     hp  drat     wt   qsec  vs  gear  carb  am_manual
0  6.0  160.0  110.0  3.90  2.620  16.46   0     4   4.0          1
1  6.0  160.0  110.0  3.90  2.875  17.02   0     4   4.0          1
2  4.0  108.0   93.0  3.85  2.320  18.61   1     4   1.0          1
3  6.0  258.0  110.0  3.08  3.215   0.10   1     3   1.0          0
4  8.0  360.0  175.0  3.15  3.440  17.02   0     3   2.0          0

pd.get_dummies() 외에 sklearn.OneHotEncoder()를 활용할 수도 있음. OneHotEncoder()는 범주형 외에 연속형 변수까지 모두 인코딩을 수행하며 모델 객체와 모델을 학습하는 코드를 추가로 작성해야 함. 따라서 단순히 함수 호출만으로 범주형 데이터를 자동으로 골라서 인코딩하는 get_dummies() 사용을 추천

### 라벨 인코딩: Label Encoding

In [48]:
# sklearn 라이브러리에서 LabelEncoder 함수를 가져오기
from sklearn.preprocessing import LabelEncoder

# LabelEncoder 호출을 통해 인코딩 기능을 갖는 encoder 변수 만들기
encoder = LabelEncoder()

In [49]:
# encoder를 통해 am 열 값에 대해 라벨 인코딩 수행하기
encoder.fit_transform(X['am']) # 인코더에 'am' 값을 넣어서 변환

array([1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1])

In [50]:
# 3가지 과일이 들어있는 fruit 변수 만들기
fruit = ['apple','banana','grape']

# LabelEncoder 호출을 통해 라벨 인코딩 기능을 갖는 encoder 변수 만들기
encoder = LabelEncoder()

# encoder를 통해 fruit 변수에 대한 라벨 인코딩 수행 후, 결과는 fruit_new에 저장하기
fruit_new = encoder.fit_transform(fruit)

# 기존의 fruit 변수와 라벨 인코딩한 fruit_new 변수를 비교해보기
print(fruit_new, fruit)

[0 1 2] ['apple', 'banana', 'grape']

### 수동 인코딩: Replace

In [51]:
# am 열에서 manual은 0으로, auto는 1로 변경한 후 새로운 am_new 열에 저장하기
X['am_new'] = X['am'].replace('manual',0).replace('auto',1)

# X 변수의 am_new 열을 확인하기
X.head()

   cyl   disp     hp  drat     wt   qsec  vs      am  gear  carb  am_new
0  6.0  160.0  110.0  3.90  2.620  16.46   0  manual     4   4.0       0
1  6.0  160.0  110.0  3.90  2.875  17.02   0  manual     4   4.0       0
2  4.0  108.0   93.0  3.85  2.320  18.61   1  manual     4   1.0       0
3  6.0  258.0  110.0  3.08  3.215   0.10   1    auto     3   1.0       1
4  8.0  360.0  175.0  3.15  3.440  17.02   0    auto     3   2.0       1

In [52]:
# X 변수에서 am 열을 삭제한 후, X 변수에 다시 저장하기
X = X.drop(columns = ['am'])

# X 변수의 상위 5개 행을 확인하기
X.head()

   cyl   disp     hp  drat     wt   qsec  vs  gear  carb  am_new
0  6.0  160.0  110.0  3.90  2.620  16.46   0     4   4.0       0
1  6.0  160.0  110.0  3.90  2.875  17.02   0     4   4.0       0
2  4.0  108.0   93.0  3.85  2.320  18.61   1     4   1.0       0
3  6.0  258.0  110.0  3.08  3.215   0.10   1     3   1.0       1
4  8.0  360.0  175.0  3.15  3.440  17.02   0     3   2.0       1

### 파생변수 만들기
주관적 측면이 강하기 때문에 논리적 근거를 기반으로 만드는 것이 중요!

#### wt열의 값에 따라 등급을 구분하는 wt_class(무게에 따른 구분) 만들기

In [53]:
# wt열이 3.3보다 작은지 여부를 확인하기
X['wt'] < 3.3

0      True
1      True
2      True
3      True
4     False
5     False
6     False
7      True
8      True
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18     True
19     True
20     True
21    False
22    False
23    False
24    False
25     True
26     True
27     True
28     True
29     True
30    False
31     True
Name: wt, dtype: bool

In [54]:
# wt 열이 3.3보다 작은지 여부의 결과는 condition 변수에 저장하기
condition = X['wt'] < 3.3

# X 변수가 condition 조건을 만족하면, wt_class에 0으로 저장하기
X.loc[condition, 'wt_class'] = 0

# X 변수가 condition 조건을 만족하지 않으면, wt_class에 1로 저장하기
X.loc[~condition, 'wt_class'] = 1

In [55]:
# wt열과 wt_class열 값을 비교
X[['wt', 'wt_class']].head()

      wt  wt_class
0  2.620       0.0
1  2.875       0.0
2  2.320       0.0
3  3.215       0.0
4  3.440       1.0

In [56]:
# X 변수에서 wt 열을 삭제한 후, 삭제 결과를 X 변수에 다시 저장하기
X = X.drop(columns = ['wt'])

# X 변수의 상위 5개 행을 확인하기
X.head()

   cyl   disp     hp  drat   qsec  vs  gear  carb  am_new  wt_class
0  6.0  160.0  110.0  3.90  16.46   0     4   4.0       0       0.0
1  6.0  160.0  110.0  3.90  17.02   0     4   4.0       0       0.0
2  4.0  108.0   93.0  3.85  18.61   1     4   1.0       0       0.0
3  6.0  258.0  110.0  3.08   0.10   1     3   1.0       1       0.0
4  8.0  360.0  175.0  3.15  17.02   0     3   2.0       1       1.0

#### qsec 열(1/4mile 도달시간) 값을 기반으로 qsec_4(1mile 도달 시간) 만들기

In [57]:
# qsec 열에 4를 곱한 결과를 qsec_4 열에 저장하기
X['qsec_4'] = X['qsec']*4

# qsec 열과 qsec_4 열 값을 확인하기
X[['qsec','qsec_4']].head()

    qsec  qsec_4
0  16.46   65.84
1  17.02   68.08
2  18.61   74.44
3   0.10    0.40
4  17.02   68.08

In [58]:
# X 변수에서 qsec 열을 삭제한 후, X 변수에 다시 저장하기
X = X.drop(columns = ['qsec'])

# X 변수의 상위 5개 행을 확인하기
X.head()

   cyl   disp     hp  drat  vs  gear  carb  am_new  wt_class  qsec_4
0  6.0  160.0  110.0  3.90   0     4   4.0       0       0.0   65.84
1  6.0  160.0  110.0  3.90   0     4   4.0       0       0.0   68.08
2  4.0  108.0   93.0  3.85   1     4   1.0       0       0.0   74.44
3  6.0  258.0  110.0  3.08   1     3   1.0       1       0.0    0.40
4  8.0  360.0  175.0  3.15   0     3   2.0       1       1.0   68.08

## 2.3 모델 생성과 모델 검증

### 학습 데이터와 테스트 데이터를 분리하기

In [59]:
# 데이터 분리를 위해서 train_test_split 함수 불러오기
from sklearn.model_selection import train_test_split

In [60]:
# X, Y 변수로 학습 데이터는 70%, 테스트 데이터는 30%로 분리하기
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=10)

In [61]:
# 독립변수인 학습 데이터의 상위 5개 행 확인하기
print(x_train.head())

# 종속변수인 학습 데이터의 상위 5개 행 확인하기
print(y_train.head())

# 독립변수인 테스트 데이터의 상위 5개 행 확인하기
print(x_test.head())

# 종속변수인 테스트 데이터의 상위 5개 행 확인하기
print(y_test.head())

     cyl   disp     hp  drat  vs  gear  carb  am_new  wt_class  qsec_4
19   4.0   71.1   65.0  4.22   1     4   1.0       0       0.0   79.60
14  14.0  472.0  205.0  2.93   0     3   4.0       1       1.0   71.92
18   4.0   75.7   52.0  4.93   1     4   2.0       0       0.0   74.08
6    8.0  360.0  245.0  3.21   0     3   4.0       1       1.0   63.36
11   8.0  275.8  180.0  3.07   0     3   3.0       1       1.0   69.60
19    33.9
14    10.4
18    30.4
6     14.3
11    16.4
Name: mpg, dtype: float64
    cyl   disp     hp  drat  vs  gear  carb  am_new  wt_class  qsec_4
20  4.0  120.1   97.0  3.70   1     3   1.0       1       0.0   80.04
7   7.6  146.7   62.0  3.69   1     4   2.0       1       0.0   80.00
5   6.0  225.0  105.0  2.76   1     3   1.0       1       1.0   80.88
2   4.0  108.0   93.0  3.85   1     4   1.0       0       0.0   74.44
3   6.0  258.0  110.0  3.08   1     3   1.0       1       0.0    0.40
20    21.5
7     24.4
5     18.1
2     22.8
3     21.4
Name: mpg, dtype: float64

### 모델링 Modeling

#### 1. 선형 회귀 Linear Regression
https://bit.ly/3vWG0Dd

In [62]:
# 선형회귀 분석 : linear_model 모듈에서 LinearRegression 모델을 가져오기
from sklearn.linear_model import LinearRegression

# 선형회귀 분석을 수행할 기본적인 모델(model) 만들기
model = LinearRegression()

# 생성한 모델에 x_train, y_train을 전달해서 선형회귀 방법으로 공부시키기
model.fit(x_train, y_train)

# 학습이 완료된 모델에 x_train을 전달하여 y_train 값을 예측하기
y_train_predicted = model.predict(x_train)

# 학습이 완료된 모델에 x_test를 전달하여 y_test 값을 예측하기
y_test_predicted = model.predict(x_test)

In [63]:
# 선형회귀 모델로 도출된 y절편 값 구하기
print(model.intercept_)

# 선형회귀 모델에 포함된 독립변수들의 각 기울기 값 구하기
print(model.coef_)

24.270191263129234
[-0.13806238 -0.01231223 -0.00409044  0.96664672  1.12302609  0.65737596
 -1.97459758 -3.57945608  0.01930121  0.0238938 ]

In [64]:
# 선형회귀 분석 model에서 학습 데이터에 대한 결정계수 구하기
print(model.score(x_train, y_train))

# 선형회귀 분석 model에서 테스트 데이터에 대한 결정계수 구하기
print(model.score(x_test, y_test)) # ---> overfitting 발생!!

0.9063061004601505
0.10181914072571308

In [65]:
# 결정계수를 계산하는 r2_score 함수 가져오기
from sklearn.metrics import r2_score

# MAE를 계산하는 mean_absolute_error 함수 가져오기
from sklearn.metrics import mean_absolute_error

# MSE를 계산하는 mean_squared_error 함수 가져오기
from sklearn.metrics import mean_squared_error

# 제곱근 계산을 위하여 numpy 라이브러리 가져오기
import numpy as np

In [66]:
# 1. 학습 데이터의 결정계수 구하기
print(r2_score(y_train, y_train_predicted))

# 2. 테스트 데이터의 결정계수 구하기
print(r2_score(y_test, y_test_predicted))

# 3. 테스트 데이터의 MSE 지표 구하기
print(mean_squared_error(y_test, y_test_predicted))

# 4. 테스트 데이터의 RMSE 지표 구하기
print(np.sqrt(mean_squared_error(y_test, y_test_predicted)))

# 5. 테스트 데이터의 MAE 지표 구하기
print(mean_absolute_error(y_test, y_test_predicted))

0.9063061004601505
0.10181914072571308
8.922528656030766
2.9870602029471662
2.374047928557583

#### 2. 랜덤 포레스트 회귀 Random Forest Regression : 앙상블 모형의 하나, 무작위의 다수 트리를 만들어 투표에 의해 값 결정
https://bit.ly/3GAqdyw

In [67]:
# 랜덤 포레스트 회귀 분석 : ensemble 모듈에서 RandomForestRegressor 모델을 가져오기
from sklearn.ensemble import RandomForestRegressor

# 랜덤 포레스트 회귀 분석을 수행할 모델 만들기
model = RandomForestRegressor(random_state=10)

In [68]:
# 생성한 모델에 x_train, y_train을 전달해서 랜덤 포레스트 회귀 분석을 수행하기
model.fit(x_train, y_train)

# 학습이 완료된 모델에 x_train을 전달하여 y_train 값을 예측하기
y_train_predicted = model.predict(x_train)

# 학습이 완료된 모델에 x_test를 전달하여 y_test 값을 예측하기
y_test_predicted = model.predict(x_test)

In [69]:
# 결정계수와 MSE, MAE를 구하는 함수를 일괄로 가져오기
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

# 1. 학습 데이터의 결정계수 구하기
print(r2_score(y_train, y_train_predicted))

# 2. 테스트 데이터의 결정계수 구하기
print(r2_score(y_test, y_test_predicted))

# 3. 테스트 데이터의 MSE 지표 구하기
print(mean_squared_error(y_test, y_test_predicted))

# 4. 테스트 데이터의 RMSE 지표 구하기
print(np.sqrt(mean_squared_error(y_test, y_test_predicted)))

# 5. 테스트 데이터의 MAE 지표 구하기
print(mean_absolute_error(y_test, y_test_predicted))

0.9799238759255713
0.379084225890872
6.168177300000077
2.483581546879441
1.809100000000011

모델링 평가를 MAE 지표로 수행한다면? -> MAE 지표 품질을 높이기 위해 추가적인 하이퍼 파라미터(hyper parameter) 전달. 
n_estimator(생성할 트리의 개수), criterion(트리를 분할하는 기준)

In [70]:
# 트리 생성은 1000개로, 트리의 분할 기준은 MAE 지표로 분석할 모델 만들기
model = RandomForestRegressor(n_estimators=1000, criterion='mae', random_state=10)

# 기본적인 정보가 담긴 모델에 학습 데이터를 전달하여 공부시키기
model.fit(x_train, y_train)

# 학습이 완료된 모델에 x_train을 전달하여 y_train 값을 예측하기
y_train_predicted = model.predict(x_train)

# 학습이 완료된 모델에 x_test를 전달하여 y_test 값을 예측하기
y_test_predicted = model.predict(x_test)

In [71]:
# 학습 데이터의 결정계수 구하기
print(r2_score(y_train, y_train_predicted))

# 테스트 데이터의 결정계수 구하기
print(r2_score(y_test, y_test_predicted))

# 테스트 데이터의 MSE 지표 구하기
print(mean_squared_error(y_test, y_test_predicted))

# 테스트 데이터의 MAE 지표 구하기
print(mean_absolute_error(y_test, y_test_predicted))

0.9805355759422818
0.44313226215521484
5.531924107750095
1.7446750000000346

#### 3. 그레디언트 부스팅 회귀 Gradient Boosting Regression : 여러 개의 결정나무(decision tree)를 묶어서 강력한 모델을 만드는 앙상블 기법, 이전 결정나무에서 발생한 오차를 보완하여 새로운 트리를 만들기 때문에 보다 높은 정확도 기대
https://bit.ly/3CsCUsL

In [72]:
# 그레디언트 부스팅 회귀 함수를 가져오기
from sklearn.ensemble import GradientBoostingRegressor

# 하이퍼 파라미터의 기본값으로 모델 만들기
model = GradientBoostingRegressor(random_state=10)

# 학습 데이터로 모델을 공부시키고, 종속 변수를 예측하기
model.fit(x_train, y_train)
y_train_predicted = model.predict(x_train)
y_test_predicted = model.predict(x_test)

In [73]:
# 결정계수와 MSE, MAE를 구하는 함수를 일괄로 가져오기
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

# 결정계수와 MSE, MAE를 계산하기
print(r2_score(y_train, y_train_predicted))
print(r2_score(y_test, y_test_predicted))
print(mean_squared_error(y_test, y_test_predicted))
print(mean_absolute_error(y_test, y_test_predicted))

0.9999908554215274
0.1559551191323465
8.384741846539269
2.1754887773282503

#### 4. 익스트림 그레디언트 부스팅 회귀 eXtreme Gradient Boosting Regression : 다수의 약한 분류기를 묶어서 정확도를 향상하는 기법, 병렬처리 기능을 지원하여 빠른 속도로 결과를 도출
https://bit.ly/3bl8T2b

In [76]:
# xgboost 라이브러리에서 XGBRegressor 함수 가져오기
from xgboost import XGBRegressor

# XGBRegressor 함수 호출로 학습시킬 모델 만들기
model = XGBRegressor(random_state = 10)

# 학습 데이터로 모델을 공부시키고, 종속변수를 예측하기
model.fit(x_train, y_train)
y_train_predicted = model.predict(x_train)
y_test_predicted = model.predict(x_test)

In [78]:
# 결정계수와 MSE, MAE를 구하는 함수를 일괄로 가져오기
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

# 결정계수와 MSE, MAE를 계산하기
print(r2_score(y_train, y_train_predicted))
print(r2_score(y_test, y_test_predicted))
print(mean_squared_error(y_test, y_test_predicted))
print(mean_absolute_error(y_test, y_test_predicted))

0.99999998477324
0.29171552932917066
7.036097931644018
2.1146967697143553

### 분류 모델링 수행

In [79]:
# x_train 변수에서 종속변수인 am_new 열은 삭제한 후, 결과는 x_train2 변수에 저장하기
x_train2 = x_train.drop(columns='am_new')

# x_train 변수에서 am_new 열을 추출한 후, 종속변수인 y_train2 변수에 저장하기
y_train2 = x_train['am_new']

# x_test 변수에서 종속변수인 am_new 열은 삭제한 후, 결과는 x_test2 변수에 저장하기
x_test2 = x_test.drop(columns = 'am_new')

# x_test 변수에서 am_new 열을 추출한 후, 종속변수인 y_test2 변수에 저장하기
y_test2 = x_test['am_new']

In [82]:
# 독립변수인 학습 데이터, x_train2 세트의 상위 5개 행 확인하기
x_train2.head()

     cyl   disp     hp  drat  vs  gear  carb  wt_class  qsec_4
19   4.0   71.1   65.0  4.22   1     4   1.0       0.0   79.60
14  14.0  472.0  205.0  2.93   0     3   4.0       1.0   71.92
18   4.0   75.7   52.0  4.93   1     4   2.0       0.0   74.08
6    8.0  360.0  245.0  3.21   0     3   4.0       1.0   63.36
11   8.0  275.8  180.0  3.07   0     3   3.0       1.0   69.60

In [83]:
# 독립변수인 테스트 데이터, x_test2 세트의 상위 5개 행 확인하기
x_test2.head()

    cyl   disp     hp  drat  vs  gear  carb  wt_class  qsec_4
20  4.0  120.1   97.0  3.70   1     3   1.0       0.0   80.04
7   7.6  146.7   62.0  3.69   1     4   2.0       0.0   80.00
5   6.0  225.0  105.0  2.76   1     3   1.0       1.0   80.88
2   4.0  108.0   93.0  3.85   1     4   1.0       0.0   74.44
3   6.0  258.0  110.0  3.08   1     3   1.0       0.0    0.40

In [84]:
# 종속변수인 학습 데이터, y_train2 세트의 상위 5개 행 확인하기
y_train2.head()

19    0
14    1
18    0
6     1
11    1
Name: am_new, dtype: int64

In [85]:
# 종속변수인 테스트 데이터, y_test2 세트의 상위 5개 행 확인하기
y_test2.head()

20    1
7     1
5     1
2     0
3     1
Name: am_new, dtype: int64

#### 1. 의사결정나무 분류 Decision Tree Classifier : 트리를 분할하고 가지치기 과정을 반복하면서 모델을 생성하는 방식, 과적화될 가능성이 크기도 함
https://bit.ly/3bi8kq2

In [95]:
# tree 모듈에서 제공하는 DecisionTreeClassifier 함수 가져오기
from sklearn.tree import DecisionTreeClassifier

# 의사결정나무 분류 분석을 수행할 모델 만들기
model = DecisionTreeClassifier(random_state = 10)

# 생성한 모델에 x_train, y_train을 전달하여 의사결정나무 분류 방식으로 공부시키기
model.fit(x_train2, y_train2)

# 학습이 완료된 모델에 x_test를 전달하여 그에 대응하는 y_test 값을 예측하기
y_test2_predicted = model.predict(x_test2)

#### 분류 모델의 주요 평가지료 - ROC-AUC(roc_auc_score), 정확도(accuracy_score), 정밀도(precision_score), 재현율(recall_score)

In [96]:
# ROC_AUC를 계산하기 위해 metrics 모듈의 함수를 가져오기
from sklearn.metrics import roc_auc_score

# 정확도, 정밀도, 재현율을 계산하기 위해 각 함수를 가져오기 
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [98]:
# 테스트 데이터의 ROC_AUC 구하기
print(roc_auc_score(y_test2, y_test2_predicted))

# 테스트 데이터의 정확도 구하기
print(accuracy_score(y_test2, y_test2_predicted))

# 테스트 데이터의 정밀도 구하기
print(precision_score(y_test2, y_test2_predicted))

# 테스트 데이터의 재현율 구하기
print(recall_score(y_test2, y_test2_predicted))

0.6904761904761906
0.7
0.8333333333333334
0.7142857142857143

#### 2. 랜덤 포레스트 분류 Random Forest Classifier : 앙상블 모형 중 하나, 무작위의 다수 트리를 만들어 투표에 의해서 값을 결정
https://bit.ly/2ZAj9ko

In [103]:
# ensemble 모듈에서 제공하는 RandomForestClassifier 함수 가져오기
from sklearn.ensemble import RandomForestClassifier

# 랜덤 포레스트 분류 분석을 수행할 모델 만들기
model = RandomForestClassifier(random_state = 10)

# 생성한 모델에 x_train2, y_train2를 전달해서 랜덤 포레스트 분류 분석으로 공부시키기
model.fit(x_train2, y_train2)

# 학습이 완료된 모델에 x_test2를 전달하여 y_test2 값을 예측하기
y_test2_predicted = model.predict(x_test2)

In [104]:
# ROC_AUC를 계산하기 위해 metrics 모듈의 함수를 가져오기
from sklearn.metrics import roc_auc_score

# 테스트 데이터의 ROC_AUC 구하기
print(roc_auc_score(y_test2, y_test2_predicted))

0.8571428571428572

#### 3. 로지스틱 회귀 Logistic Regression : 종속변수가 어떤 범주에 속할지에 대해서 0과 1 사이의 연속적인 확률로 예측하는 회귀 알고리즘
https://bit.ly/3vRXuR2

In [109]:
# linear_model 모듈에서 제공하는 LogisticRegression 함수 가져오기
from sklearn.linear_model import LogisticRegression

# 로지스틱 회귀 분석으로 수행할 모델을 만들고 공부시키기
model = LogisticRegression(random_state = 10)
model.fit(x_train2, y_train2)

# 학습이 완료된 모델을 통해 y_test2를 예측하기
y_test2_predicted = model.predict(x_test2)

/Users/heetaecho/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [111]:
# ROC_AUC를 계산하기 위해 metrics 모듈의 함수 가져오기
from sklearn.metrics import roc_auc_score

# 테스트 데이터의 ROC-AUC 구하기
print(roc_auc_score(y_test2, y_test2_predicted))

0.7619047619047621

#### 4. 익스트림 그레디언트 부스팅 분류 eXtreme Gradient Boosting : 다수의 약한 분류기를 묶어서 정확도를 향상하는 기법, 병렬처리 기능을 지원하여 빠른 속도로 결과를 도출할 수 있음.
https://bit.ly/3bl8T2b

In [162]:
# xgboost 모듈에서 제공하는 XGBClassifier 함수를 가져오기
from xgboost import XGBClassifier

# XGB 분류 분석으로 수행할 모델을 만들고,공부시키기
model = XGBClassifier(random_state = 10)
model.fit(x_train2, y_train2)

# 학습이 완료된 모델을 통해 y_test2를 예측하기
y_test2_predicted = model.predict(x_test2)

[18:23:40] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/Users/heetaecho/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

In [163]:
# y_test2_predicted 값 확인하기
y_test2_predicted

array([0, 0, 1, 0, 1, 1, 1, 1, 1, 0])

새로운 관점의 예측값 - 종속변수의 분류값 단순 예측(0,0,0,1,1,0 --)이 아닌 종속변수의 0과 1에 대한 확률값 계산
-> predict_proba()

In [164]:
# 테스트 데이터의 종속변수에 대한 분류 확률을 계산하기
y_test2_proba = model.predict_proba(x_test2)

# 테스트 데이터에 대한 분류 확률인 y_test2_proba 값을 확인하기
y_test2_proba

array([[0.5252248 , 0.47477522],
       [0.67885995, 0.32114008],
       [0.03991383, 0.96008617],
       [0.8779035 , 0.1220965 ],
       [0.10923749, 0.8907625 ],
       [0.10923749, 0.8907625 ],
       [0.03991383, 0.96008617],
       [0.38030726, 0.61969274],
       [0.03991383, 0.96008617],
       [0.8811508 , 0.1188492 ]], dtype=float32)

총 10행 2열, 1열은 0값으로 분류될 확률, 2열은 1값으로 분류될 확률

In [165]:
# ROC-AUC를 계산하기 위해 metrics 모듈의 함수를 가져오기
from sklearn.metrics import roc_auc_score

# 테스트 데이터의 ROC-AUC 구하기
print(roc_auc_score(y_test2, y_test2_predicted))

0.6904761904761906

## 분류 모델로 사용할 수 있는 기타 알고리즘

### 서포트 벡터 분류(SVC Support Vector Machine) 
https://bit.ly/3jNLWtg

#### 서포트 벡터 분류 분석으로 모델 학습 및 테스트 데이터의 종속변수 예측하기

In [137]:
from sklearn.svm import SVC
model = SVC(random_state = 10)
model.fit(x_train2, y_train2)
y_test2_predicted = model.predict(x_test2)

#### 서포트 벡터 분류 분석으로 학습한 모델을 평가하기

In [138]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test2, y_test2_predicted))

0.6904761904761906

### 배깅 분류(BaggingClassifier)
https://bit.ly/3pMcleI

#### 배깅 분류 분석으로 모델 학습 및 테스트 데이터의 종속변수 예측하기

In [139]:
from sklearn.ensemble import BaggingClassifier
model = BaggingClassifier(random_state = 10)
model.fit(x_train2, y_train2)
y_test2_predicted = model.predict(x_test2)

#### 배깅 분류 분석으로 학습한 모델을 평가하기

In [140]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test2, y_test2_predicted))

0.7857142857142857

### K-최근접 이웃(K-Nearest-Neighbor)
https://bit.ly/3CpXPg1

#### K-최근접 이웃 분류 분석으로 모델 학습 및 테스트 데이터의 종속변수 예측하기

In [153]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(x_train2, y_train2)
y_test2_predicted = model.predict(x_test2)

#### K-최근접 이웃 분류 분석으로 학습한 모델을 평가하기

In [154]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test2, y_test2_predicted))

0.5238095238095238

### 다층 퍼센트론 분류(Multi Layer Perceptron Classifier) 
https://bit.ly/3nGbZDD

#### 다층 퍼셉트론 분류 분석으로 모델 학습 및 테스트 데이터의 종속변수 예측하기

In [159]:
from sklearn.neural_network import MLPClassifier
model = MLPClassifier()
model.fit(x_train2, y_train2)
y_test2_predicted = model.predict(x_test2)

/Users/heetaecho/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

#### 다층 퍼셉트론 분류 분석으로 학습한 모델을 평가하기

In [160]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test2, y_test2_predicted))

0.5952380952380953

## 최종 결과 공유하기

### 1유형 -> 결과값 출력

XGBClassifier 학습 모델에 대한 테스트 데이터의 ROC-AUC 값을 출력하는 것이라고 가정. 코드 작성, 실행 후 제출, 그 외 불필요한 출력 코드들은 주석 처리하거나 삭제

In [167]:
# 출력하는 다른 코드는 주석 처리하고, 최종 결과만 출력하기
print(roc_auc_score(y_test2, y_test2_predicted))

0.6904761904761906

### 2유형 -> csv 파일로 저장

최종 값(y_test2_predicted)을 데이터 프레임 타입의 변수로 변경한 후, to_csv 함수 안에 파일 경로와 파일명을 입력. 파일 제목은 '12345.csv'

In [171]:
# 제출할 y_test2_predicted 변수의 데이터 타입 확인하기
print(type(y_test2_predicted))

# 제출할 변수를 데이터 프레임으로 변경하고, data 디렉터리 하위에 csv 파일 저장하기
pd.DataFrame(y_test2_predicted).to_csv('12345.csv', index=False)

<class 'numpy.ndarray'>

to_csv 함수의 index=False는 행(인덱스) 번호를 제외하고 csv 파일에 저장한다는 의미. to_csv 함수에서 행 번호를 포함시켜 저장하는 index=True 값이 기본값이므로, 불필요한 행 번호를 저장하지 않도록 index=False 옵션 반드시 작성