In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('boston.csv')
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,NaN,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [9]:
print(data.sort_values('MEDV', ascending=True)['MEDV'].head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

In [16]:
rm = data.copy()
print(rm.dropna().std()['RM'] - rm['RM'].fillna(rm['RM'].mean()).std())

0.010595546094104624

In [50]:
zn = data.copy()
print(zn[zn['ZN'] > zn['ZN'].mean() + 1.5*zn['ZN'].std()]['ZN'].sum()+zn[zn['ZN'] < zn['ZN'].mean() - 1.5*zn['ZN'].std()]['ZN'].sum())

3462.5

In [57]:
des = data.drop(columns=['CHAS','RAD']).describe()
IQR = des.iloc[6, :] - des.iloc[4, :]
print(IQR)

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

In [69]:
medv = data['MEDV'].copy()
medv = medv.sort_values(ascending=False).reset_index(drop=True)
medv[0:29] = medv[29]
print(medv.mean(), medv.median(), medv.min(), medv.max())

22.179644268774698 21.2 5.0 41.7

In [79]:
df = data.copy()
df = df[df['TAX'] > df['TAX'].median()]
print(pd.DataFrame(df.groupby(by=['CHAS', 'RAD'])['RAD'].count()).rename(columns={'RAD':'COUNT'}))

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

In [86]:
tax = data['TAX']
abs(tax.sort_values(ascending=True).reset_index(drop=True) - tax.sort_values(ascending=False).reset_index(drop=True)).var()

28490.5986459515

In [105]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
medv = scaler.fit_transform(data[['MEDV']])
print(medv[medv > 0.5].size)

106

In [124]:
age = data['AGE']
age = round(age)
value = age.mode()[0]
count = age[age==value].count()
print(int(value), count)

100 43

In [139]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
dis = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)
dis = dis[(dis['DIS'] > 0.4) & (dis['DIS'] < 0.6)]
print(round(dis['DIS'].mean(), 2))

0.48

In [158]:
count = 0
for col in data.columns:
    count += pd.DataFrame(data[col].unique()).count()[0]
print(count/data.columns.size)

218.0